*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -ms-overflow-style: none;
    font-family: 'consolas';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1F202A;

    
}

iframe {
    padding-top: 4%;
    height: 100%;
    width: 100%;
    border: none;
}

.titleNav {
    color: #fff;
    background: #1F202A;
    text-align: center;
    padding: 1.8rem;
}

#hd {
    display: none;
}

#iconClose {
    display: none;
}

.openDrawer #iconOpen {
    display: none;
}
.openDrawer #iconClose {
    display: block;
}

#header {
    height: 100%;
    width: 3.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color: #1F202A;
    overflow-x: hidden;
    padding: 0rem 0 0rem 0;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 8;
}


#hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #1F202A;
    z-index: 9;
    padding: 1rem;
}

#hd span {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

#header {
    height: 100vh;
    width: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    left: 0;
    background-color: #1F202A;
    overflow-x: hidden;
    padding: 0rem 0 0rem 0;
    transition: all 0.3s;
    overflow: hidden;
    padding: 65px 0 50px 0;
    z-index: 8;
}

.drawer::-webkit-scrollbar{
    width: 0.3125rem;
    height: 0.0625rem;
    border-radius: 0.3125rem;
    background: #252527;
    
}
.drawer::-webkit-scrollbar-thumb{
    border-radius: 0.3125rem;
    background: #088c47;
}

#header:hover {
    transition: all 0.2s;
    width: 19.75rem;
}

#menu {
    width: 100%;
}

.drawer {
    display: flex;
    position: relative;
    width: 100%;
    overflow: scroll;
    transition: 0.3s;
}

.itemMenu .description {
    display: none;
}


#header span {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}

.itemMenu:hover .description, .itemMenu:focus .description {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    padding-left: 2rem;
    flex-wrap: nowrap;
    transition: all 1s easin ease-in-out;
}


.itemMenu {
    margin: 0;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    color: #e7e7e794;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s;
}


.itemMenu i {
    font-size: 2rem;
}


.itemMenu:hover i, .itemMenu:focus i{
    color: #088c47;

}

.itemMenu:hover, .itemMenu:focus {
    transition: all 0.3s;
    color: #f1f1f1;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}


.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.nav-button i {
    color: #088c47;
    font-size: 1.5rem;
}

@media (max-width: 600px) {

    iframe {
       height: 100%;
       margin: 0;
       padding-top: 17%;
    }

    iframe body::-webkit-scrollbar{
        width: 0.3125rem;
        height: 0.0625rem;
        border-radius: 0.3125rem;
        background: #252527;
        
    }
    iframe body:-webkit-scrollbar-thumb{
        border-radius: 0.3125rem;
        background: #088c47;
    }

    .titleNav {
        display: none;
    }

    #hd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
        background-color: #1F202A;
        z-index: 9;
        padding: 1rem;
    }

    #hd span {
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
    }

    #header {
        height: 100vh;
        width: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 1;
        left: 0;
        background-color: #1F202A;
        overflow-x: hidden;
        padding: 0rem 0 0rem 0;
        transition: all 0.3s;
        overflow: hidden;
        padding: 50px 0 50px 0;
        z-index: 8;
    }

    #header span {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
    }


    .drawer {
        display: flex;
        height: 100%;
        background: #1F202A;
        width: 100%;
        overflow: scroll;
        transition: 0.3s;
    }

    

}